<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="styles.css">
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script type="text/javascript"></script>
	
	<style>
		* {
			margin: 0;
			box-sizing: border-box;
		}
		#app {
			width: 400px;
			background-color: white;
			border-color: black;

			margin: 25px auto;
			padding: 25px;
		}
	</style>

</head>
<body>
	<nav>
    	<div class="nav-wrapper orange">
      		<a href="https://www.youtube.com/watch?v=6n3pFFPSlW4" class="brand-logo center">Shopping list</a>
    	</div>
  </nav>

	<div id="app">
		<div class="container section flow-text">
			<input v-model="itemName" placeholder="Add some text to the list" @keydown.enter="addToList()">
			
		</div>
		<div class="collection">
			<row 
				v-for="(item, index) in items"
				v-bind:item="item"
				v-bind:index="index"
				v-on:row-item="removeFromList"
			></row>
		</div>
				
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		//component for itemrow of the itemlist
		Vue.component('row', {
			props: ['item', 'index'],
			template: `
			<div class="collection-item">
				<span>{{item}}</span>
				<div v-on:click="$emit('row-item', index)" class="secondary-content">
					<i class="material-icons red-text">close</i>
				</div>
			</div>
			
			`
		})

		var app = new Vue({
			el: '#app',
			data: { 
				itemName:'',
				items: [
				'clothes',
				'shoes',
				'balls',
				],
			},
			mounted() {
				if (localStorage.getItem('items')) this.items = JSON.parse(localStorage.getItem('items'));
			},
			watch: {
				items: {
					handler() {
						console.log('Items changed!');
						localStorage.setItem('items', JSON.stringify(this.items));
					},
					deep: true,
				},
			},
			methods: {
				
				addToList() {
					//validating the text input
					var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
					if (format.test(this.itemName)) {
						alert("No special characters");
						this.itemName = '';
						return;
					} 
					if (this.itemName.length > 16) {
						alert("Max 16 characters");
						this.itemName = '';
						return;
					}
					if (this.itemName == '') {
						alert("No empty lines");
						this.itemName = '';
						return;
					}
					else {
						this.items.push(this.itemName);
						this.itemName = '';
					}
				},
				removeFromList(index) {
					this.items.splice(index, 1);
				}
				
			}
		});
	</script>
</body>
</html>